# Copyright 2023 Canonical Ltd.
# See LICENSE file for licensing details.
name: Update bundle

on:
  schedule:
    - cron: '53 0 * * 2'  # Weekly at Tuesday 00:53 UTC

jobs:
  update-bundle:
    name: Update bundle
    uses: canonical/data-platform-workflows/.github/workflows/_update_bundle.yaml@v41.1.1
    with:
      path-to-bundle-file: releases/latest/postgresql-k8s-bundle.yaml
      reviewers: canonical/data-postgresql
    secrets:
      token: ${{ secrets.PAT }}
